@media (min-width: 280px) {
     *{
      font-size: 12px;
   margin-left: 10px;
   margin-right: 10px;
   width: auto;
   height: auto;
  

   
    }
    .hero-image{
      width: auto;
      height: auto;
    }

    
  }

